{%extends 'healthapp/expert/expert_base.html'%}
{%load static%}
{%block title%}
healthapp | ExpertViewBooking
{%endblock%}
{%block style%}
{% static 'healthapp/css/patient_home.css' %}
{%endblock%}

{%block content%}
<br>
<br>
<br>
<br>
<br>
{%if expert_user%}
<form method="post" action="/expert_viewbooking/">
     {%csrf_token %}
<table class="table">
     <thead>
       <tr>
         <th scope="col">UserName</th>
         <th scope="col">FromDate</th>
         <th scope="col">ToDate</th>
         <th scope="col">Message</th>
       </tr>
     </thead>


     {%for row_data in expert_user %}
     <tr>
          <td>{{row_data.user_name.user_name}}</td>
          <td>{{row_data.from_date}}</td>
          <td>{{row_data.to_date}}</td>
          <td>{{row_data.user_message_text}}</td>
          
          {%if  'Confirm' in row_data.status %}
              
          <td colspan="4"><a href="/confirm_booking/{{row_data.id}}" class="btn btn-secondary disabled" >confirm</a>
               <a href="#" class="btn btn-secondary disabled">cancel</a></td></tr>

          {% elif  'Cancel' in row_data.status%}
               <td colspan="4"><a href="/confirm_booking/{{row_data.id}}" class="btn btn-danger disabled">confirm</a>
               <a href="/cancel_booking/{{row_data.id}}"  class="btn btn-danger disabled">cancel</a></td></tr>
    

     {%else%}
               <td colspan="4"><a href="/confirm_booking/{{row_data.id}}" class="btn btn-primary">confirm</a>
               <a href="/cancel_booking/{{row_data.id}}"  class="btn btn-danger ">cancel</a></td></tr>
     {%endif%}
     {%endfor%}
     
     
     
</tbody>
     </table>
     </form>
     {%endif%}
     {% if messages %}

        {% for m in messages %}

        <!-- <h3 class="text-{{m.tags}}">{{m}}</h3> -->
        <div class="row justify-content-center">
            <div class="col-6">
            <div class="alert alert-{{m.tags}} alert-dismissible fade show" role="alert">
            <strong>{{m}}</strong> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          </div>
        </div>

        {% endfor %}


    {% endif %}
  

{%endblock%}
{%block script2%}
if(window.history.replaceState){
    window.history.replaceState(null,null,window.location.href);
     src="{% static 'healthapp/js/patient_home.js' %}""
{%endblock%}

